body {
  background-color: rgba(3, 39, 242, 0.831);
}


#nova {
  width: 400px;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
  float: left;
  border: 10px solid rgba(77, 216, 42, 0.81);
  padding: 10px;
  margin-right: 10px;

}

img {
  width: 500px;
  height: auto;
  border-color: rgb(25, 190, 3);
  padding: 10px;
  float: right;
  border: 10px solid rgb(25, 190, 3);
  margin-right: 20px;
}

#halloween {
  width: 500px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  border-color: rgb(50, 224, 7);
  padding: 10px;
  border: 10px solid lawngreen;
}


p {
  height: auto;
  margin: 20px;
  background-color: rgba(37, 227, 7, 0.81);
  color: black;
  width: 960px;
  text-align: initial;
}

footer {
  margin: 40px;
  background-color: rgba(37, 227, 7, 0.81);
  text-align: center;
  width: 1560px;
}